.Section_Title {
  width: auto;
  height: 10px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  outline: 1px solid #E8EDDF;
  position: absolute;
  top: 10px;
  left: 10px;
  gap: 20px;
  transition: outline 0.3s ease-out;
  &:hover {
    cursor: pointer;
    outline: 1px solid #f5cb5c;
  }
  h1 {
    font-weight: 200;
    font-size: 1.25rem;
  }
}